/* line 2, ../sass/main.scss */
html, body {
  height: 100%;
  font-family: Lato;
  /*  font-size: 100%;*/
  font-size: 16px;
  /* font-size: 1em;*/
}

/* line 9, ../sass/main.scss */
.bg {
  width: 100%;
  height: auto;
  background: url("../img/bg.jpg");
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 17, ../sass/main.scss */
.wrap {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2% 0 5% 0;
}

/* line 23, ../sass/main.scss */
.head {
  width: 96%;
  height: 10%;
  margin: 1% 2%;
  border: 1px solid #ffffff;
  background: #777777;
  /*  opacity: .8;*/
  color: #ffffff;
}

/* line 32, ../sass/main.scss */
.title {
  width: 65%;
  display: inline-block;
  vertical-align: top;
  /*    border:1px solid #ffffff;*/
  background: #777777;
}

/* line 40, ../sass/main.scss */
.title h1 {
  font-size: 1.6em;
  color: #ffffff;
  margin: 4% 0 0 7%;
}

/* line 46, ../sass/main.scss */
.title h2 {
  font-size: 1em;
  color: #ffffff;
  margin: 0 0 0 10%;
}

/* line 51, ../sass/main.scss */
.pic {
  width: 20%;
  display: inline-block;
  padding: 1% 0 0 8%;
  /*border:1px solid red;*/
}

/* line 57, ../sass/main.scss */
.pic img {
  width: 92%;
  height: auto;
  border: 1px solid #ffffff;
}

/* line 64, ../sass/main.scss */
.specialization {
  width: 96%;
  margin: 1% 2%;
  padding: 0;
  border: 1px solid #ffffff;
  font-size: 1.2em;
  background: #777777;
  /*opacity: .8;*/
  color: #ffffff;
}

/* line 74, ../sass/main.scss */
.description {
  width: 90%;
  margin: 1% 2%;
  padding: 0 3%;
  border: 1px solid #ffffff;
  background: #777777;
  /*opacity: .8;*/
  color: #ffffff;
}

/* line 83, ../sass/main.scss */
.description p {
  font-size: 1.2em;
  text-align: center;
}

/* line 87, ../sass/main.scss */
.foot {
  width: 90%;
  margin: 1% 2% 0 2%;
  padding: 3%;
  border: 1px solid #ffffff;
  background: #777777;
  /*  opacity: .8;*/
  color: #ffffff;
}

/* line 96, ../sass/main.scss */
.foot h2, .foot a {
  font-size: 1.2em;
  color: #ffffff;
  margin: 0;
}

/* line 101, ../sass/main.scss */
.foot a {
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  /* line 106, ../sass/main.scss */
  body {
    font-size: 120%;
  }

  /* line 109, ../sass/main.scss */
  .head {
    border: none;
    background: transparent;
  }

  /* line 113, ../sass/main.scss */
  .title {
    width: 50%;
    border: 1px solid #ffffff;
    padding: 0 0 2% 0;
  }

  /* line 118, ../sass/main.scss */
  .title h1 {
    font-size: 2em;
  }

  /* line 121, ../sass/main.scss */
  .pic {
    width: 20%;
    padding: 1% 0 0 25%;
  }

  /* line 125, ../sass/main.scss */
  .specialization {
    width: 55%;
    margin: 1% 1%;
  }

  /* line 130, ../sass/main.scss */
  .description {
    margin: 1%;
  }

  /* line 133, ../sass/main.scss */
  .foot {
    width: 47%;
    margin: 1% 1% 0 1%;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 144, ../sass/main.scss */
  .title {
    width: 30%;
  }

  /* line 148, ../sass/main.scss */
  .pic {
    width: 15%;
    padding: 1% 0 0 50%;
  }

  /* line 153, ../sass/main.scss */
  .pictest {
    width: 12%;
  }

  /* line 156, ../sass/main.scss */
  .specialization {
    width: 40%;
  }

  /* line 160, ../sass/main.scss */
  .foot {
    width: 34%;
  }
}
@media only screen and (min-width: 1280px) {
  /* line 165, ../sass/main.scss */
  .pic {
    width: 12%;
  }

  /* line 168, ../sass/main.scss */
  .specialization {
    width: 30%;
    margin: 1% 58% 1% 6%;
  }

  /* line 172, ../sass/main.scss */
  .description {
    width: 56%;
    margin: 1% 22%;
  }

  /* line 176, ../sass/main.scss */
  .foot {
    width: 24%;
    margin: 1% 7% 1% 57%;
  }
}
