html, body{
  color:#ffffff;
  height:100%;
  margin:0;
  padding:0;
  font-weight:300;
/* font-family: 'Lato', sans-serif;} */}
h1, h2{
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-weight:500}
ul{
  list-style-type: none;
  margin:0;
  padding:0;}
.bg{
  background: url("../img/bg.jpg");
  min-height:100%;
  width:auto;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat}
.container-fluid{padding: 5px}
.logo-img img{display:none}
.specialties{max-width:350px}
.works{max-width:600px}
.margin-15{margin:15px}
.margin-t5{margin-top:5px}
.margin-l10{margin-left:10px}
.padding-sm-15{padding:15px}
.padding-10-5-10-0{padding: 10px 5px 10px 0}
.padding-5{padding:5px}
.padding-20{padding:20px}
.padding-5-20{padding:5px 20px;}
.padding-l10{padding-left:10px}
.font-color1{color:#ffffff}
.font-color2{color:#444444}
.font-size20{font-size:20px}
.bg-color1{background-color: rgba(255, 255, 255, 0.3)}
.bg-color2{background-color:#555555}
.border-1{border-bottom:2px solid #ffffff}
.border-2{box-shadow: 4px 4px 3px rgba(0, 0, 0, .2)};
a[href^="tel:"], a[href^="https:"]{color:#999988; text-decoration: none}
a[href^="tel:"]:hover, a[href^="https:"]:hover{color:#999977}
.btn-primary{color:#ffffff; background:#999988; border-radius:1px}
.btn-primary:hover{color:#ffffff; background:#999977; text-decoration: none}
@media (min-width: 576px){
  .logo{max-width:320px;}
  .logo-specialties{display:inline-block; width:80%; vertical-align:top}
  .logo-img{display:inline-block; width:18%}
  .logo-img img{display:inline-block; vertical-align: middle;}
  .img-fluid{max-width: 100px;}}
@media (min-width: 768px){
  .container-fluid{padding-left: 3%; padding-right: 3%}
  .specialties{margin-left: 5%}
  .logo-img{width:18%}
  .img-fluid{max-width: 130px}
  .summary{width:80%; margin: 5px auto}
  .works{width:80%; margin: 5px auto}}
@media (min-width: 992px){
  .container-fluid{padding-left: 10%; padding-right: 10%}}
