/********HEAD********/

.header{
  background-color: #deecfc;
  padding-bottom:4%;
}
.logo{
  vertical-align:top;
  margin: 20px 0 5px 5px;
  height: 32vmin;
}
.title{
  margin: 25px 0 0 10px;
  display:inline-block;
}
.title h1{
  font-size:1rem;
  margin: 3px 0 0 0;
  font-weight:600;
  color:#333333;
}
.title h2{
  font-size:.9rem;
  margin:0;
  font-weight: 400;
  color: #333333;
}
.photo{
  border-radius:5%;
  max-width:100px;
  height: auto;
}

/********BODY********/

.specialty{
  background-image: url(./img-landscape-mobile.jpg);
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 3%;
}
.bg1{
  margin:1%;
  padding:1%;
  width:96%;
  background-color: rgba(0, 0, 0, 0.3);
}
.specialty h3{
  padding-left:1%;
  font-weight:200;
  color: #ffffff;
  width:100%;
}
ul.specialty-list{
  padding-left:1rem;
  list-style-type:none;
}
.specialty li{
  font-size: 1rem;
  color: #ffffff;
  font-weight:400;
  margin-left:0;
  padding-left:0;
}
.statement{
  background-color:#ffea75;
  padding:4%;
}
.statement p{
  font-size: 1rem;
  line-height:1.2;
  color: #555555;
}
.projects{
  background-color:#ffffff;
  padding:4%;
}
.bg2{
  margin:1%;
  padding:4%;
  background-color: rgba(122, 184, 255, 0.2);
}
.projects h3{
  color: #333333;
  font-weight:400;
  width:100%;
}
ul.projects1{
  list-style-type:square;
  padding-left:0;
  margin-bottom:0;
}
.projects li{
  font-size: 1rem;
  color: #333333;
  font-weight:500;
  margin-left:0;
}

/********FOOT********/
footer{
  text-align:center;
  background-color:#3f5975;
  padding:3%;
  line-height: 1.3;
}
footer ul{
  list-style-type: none;
  padding-left: 0;
}
footer ul li a{
  color:#777777;
  font-size:1rem;
  font-weight:500;;
}
footer ul li a:hover{
  text-decoration:none;
  color:#eeeeee;
}

.btnn {
  margin-top:10px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.2rem 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btnn:hover{
  text-decoration: none;
}
.btn-main {
  color: #222222;
  background-color: #dcf0e5;
  border-color: #7ab8ff;
}

.btn-main:hover {
  color: #222222;
  background-color: #ffffff;
  border-color: #ffffff;
}

/********MEDIA QUERIES********/
@media (min-width: 500px) {
  .specialty{
    height:400px;
  }
  .bg1{
    width:50%;
  }
}
@media (min-width: 768px) {
  .title{
    margin-left: 28%;
  }
  .specialty{
    background-image: url(./img-landscape-mobile.jpg);
    height: 400px;
  }
  .bg1{
    width:45%;
  }
  .specialty li, .statement p, .projects li,
  footer ul li a{
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .title{
    margin-left: 45%;
  }
  .specialty{
    background-image: url(./img-landscape-widescreen.jpg);
  }
  .specialty li{

  }
}
@media (min-width: 1366px) {
  .title{
    margin-left: 20%;
  }
  .header, .statement, .projects{
    padding-left: 20%;
    padding-right: 20%;
  }
  .specialty{
    height:500px;
  }
  .bg1{
    margin-left:15%;
    width: 25%;
  }
}
